.main_audio_container {
  height: 300px;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 50px;
  /* glassmorphism */
  background: var(--nav_bg);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* max-height: auto; */
  height: auto;
}
.audio_container_img {
  width: 200px;
}
.audio_container_img img {
  width: 100%;
}

.audio_container_details {
  display: flex;
  justify-content: left;
}
.audio_container_img {
  margin-right: 50px;
}
.audio_container_title {
  font-size: 1.4em;
  font-weight: bolder;
  color: var(--text);
}
.audio_container_author {
  color: var(--light_gray);
}

.audio_container_stats {
  display: flex;
  margin-top: 30px;
  width: 100%;
  max-width: 200px;
  align-items: center;
  color: var(--light_gray);
  font-size: 0.9em;
}

.audio_container_downloads {
  margin-right: 20px;
}
.audio_container_downloads,
.audio_container_likes {
  display: flex;
  align-items: center;
}
.audio_container_downloads > *,
.audio_container_likes > *,
.audio_container-download > *,
.audio_container-playlist > * {
  margin-right: 5px;
}

.audio_container-actions {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: right;
}

.audio_container-download,
.audio_container-playlist {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  justify-content: space-around;
}
.audio_container-actions > * {
  margin-right: 10px;
}

.audio_container-actions:nth-last-child(1) {
  margin-left: 10px;
}

.audio_container-like {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio_container-like,
.audio_container-playlist {
  background-color: var(--nav_bg_light);
}

/* when no music is searched */
.search_music {
  display: flex;
  min-height: 200px;
  max-width: 800px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.search_music .text {
  color: var(--light_gray);
  font-size: 1.9em;
}
.icon {
  margin-top: 20px;
}
.headphone {
  font-size: 60px;
  color: #fff;
}
