/* variables */
:root {
  --nav_bg: #333;
  --text: #fff;
  --button_bg: #2d88ff;
  --light_gray: #b3b3b3;
  --nav_bg_light: rgb(68, 68, 68);
  --heart: #a83f39;
  --primary-nav: #343a40;
  --primary-bg: #212429;
  --pnav: #343a40;
  --pnavlight: #2c323abe;
  --gray: #e8e8e8;
  --porange: rgb(254, 44, 85);
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
/* outline: 1px solid red; */

}
body {
  background: var(--pwhite);
  /* font-family: "Poppins", sans-serif !important; */
}

button {
  border: none;
  outline: none;
  background-color: var(--porange);
  cursor: pointer;
  color: var(--text);
  font-size: 1.1em;
  text-transform: capitalize;
}
input {
  outline: none;
  border: 1px solid var(--light_gray);
}
