.main_container {
  height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0px;
  margin-top: 50px;
  background-image: url("https://shuffle.dev/nereus-assets/img/bg/pattern1.png"); min-height: 90vh; display: flex; align-items: center; justify-content: center;
}
