li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
/* .logo {
} */

nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: var( --nav_bg_light);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.116); */
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

nav .links {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-around;
}
.links .btns {
  background-color: var(--button_bg);
  padding: 7px 14px;
  border-radius: 5px;
}
.links img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-top: 5px;
}
/* @media (max-width: 1100px) {
  nav .links {
    width: 50%;
  }
}
@media (max-width: 600px) {
  nav .links {
    width: 60%;
  }
} */
